@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/functions";

$primary: #2f5f32;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
html, body {
    width: 100%;
    height: 100%;
}

*, *::before, *::after, *:hover {
    box-sizing: border-box;
}

#root {
    background-image: url("../images/randobackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        background-color: #000;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        display: block;
    }
}

.whitecontainer {
    position: relative;
    background-position: center;
    z-index: 1;
    
    &::before {
        content: "";
        background-color: #fff;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        display: block;
    }
}

.interactive_text {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.hoverablecard {
    &:hover {
        cursor: pointer;
    }
}